<!-- Preloader -->
<!-- <div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div> -->
<!-- /End Preloader -->

<!-- Start Hero Area -->
<section class="hero-area">
  <img class="hero-shape" src="../../../assets/images/hero/biglayer2.png" alt="#" />
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12 col-12">
        <div class="hero-content">
          <h4 class="wow fadeInUp" data-wow-delay=".2s">
            사이트에 오신 모든분들을 환영합니다.
          </h4>
          <h1 class="wow fadeInUp" data-wow-delay=".4s">
            예약을 원하시나요?

            <span>
              <img class="text-shape" src="assets/images/hero/text-shape.svg" alt="#" />
            </span>
          </h1>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            편안한 서비스를 위해 회원이 되어보세요.
          </p>
          <div class="button wow fadeInUp" data-wow-delay=".8s">
            <!-- <a href="/register" class="btn">회원가입 하기</a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-12">
        <div class="hero-image">
          <img class="main-image" src="assets/images/hero/ccc.png" alt="#" />
          <img class="h2-move-1" src="assets/images/hero/bbb.png" alt="#" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Area -->

<!-- Start Feature Area -->
<div class="feature section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 class="wow zoomIn" data-wow-delay=".2s">Our Service</h3>
          <h2 class="wow fadeInUp" data-wow-delay=".4s">사용자를 위한 안내</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">VERCHO IS</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
        <div class="feature-box">
          <div class="tumb">
            <img src="assets/images/features/1.png" alt="" />
          </div>
          <h4 class="text-title">회원가입</h4>
          <p>
            홈페이지에 처음 오셨나요? <br />
            회원가입을 통해 서비스를 이용받으세요.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
        <div class="feature-box">
          <div class="tumb">
            <img src="assets/images/features/22.png" alt="" />
          </div>
          <h4 class="text-title">예약하기</h4>
          <p>
            회원가입을 완료하셨다면<br />원하는 지역, 날짜, 시간을 정해보세요.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
        <div class="feature-box">
          <div class="tumb">
            <img src="assets/images/features/33.png" alt="" />
          </div>
          <h4 class="text-title">업체 확인</h4>
          <p>
            예약하기를 통해 해당 업체와<br />연결이 이루어져 절차가 진행됩니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Features Area -->

<!-- Start Feature Area -->
<div class="feature section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 class="wow zoomIn" data-wow-delay=".2s">Our Service</h3>
          <h2 class="wow fadeInUp" data-wow-delay=".4s">업체를 위한 안내</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">VERCHO IS</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
        <div class="feature-box">
          <div class="tumb">
            <img src="assets/images/features/1.png" alt="" />
          </div>
          <h4 class="text-title">회원가입</h4>
          <p>
            홈페이지에 처음 오셨나요? <br />
            회원가입을 통해 서비스를 제공해보세요.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
        <div class="feature-box">
          <div class="tumb">
            <img src="assets/images/features/44.png" alt="" />
          </div>
          <h4 class="text-title">업체등록</h4>
          <p>회원가입을 완료하셨다면<br />자신의 업체를 등록해보세요.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
        <div class="feature-box">
          <div class="tumb">
            <img src="assets/images/features/55.png" alt="" />
          </div>
          <h4 class="text-title">예약 연결</h4>
          <p>사용자가 예약한 정보를<br />확인하고 서비스가 진행됩니다.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Features Area -->

<!-- Start Call Action Area -->
<section class="call-action">
  <div class="container">
    <div class="inner-content">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-7 col-12">
          <div class="text">
            <h2>
              회원가입을 완료 하셨다면 <br />
              <span>지금 바로 서비스를 이용하세요.</span>
            </h2>
            <p style="display: block; margin-top: 10px">
              해당 칸을 눌러 바로 이동해보세요.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 col-12">
          <div class="button">
            <a href="/reservation" class="btn">예약 하기 </a>
          </div>
          <br />
          <br />
          <br />
          <br />
          <div class="button">
            <a href="/company" class="btn">업체 등록 </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Call Action Area -->

<!-- Start Footer Area -->
<footer class="footer section">
  <!-- Start Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="inner-content">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer f-about">
              <div class="logo">
                <a href="index.html">
                  <img src="../../../assets/images/logo/벌초로고흰색.png" alt="#" />
                </a>
              </div>
              <p>더보기</p>
              <h4 class="social-title">Follow On:</h4>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/campaign/landing.php?&campaign_id=1662308814&extra_1=s%7Cc%7C514638008096%7Ce%7C%ED%
                  8E%98%EC%9D%B4%EC%8A%A4%20%EB%B6%81%7C&placement=&creative=514638008096&keyword=%ED%8E%98%EC%9D%B4%EC
                  %8A%A4%20%EB%B6%81&partner_id=googlesem&extra_2=campaignid%3D1662308814%26adgroupid%3D69637362208%26match
                  type%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adpositio
                  n%3D%26target%3D%26targetid%3Dkwd-303215285480%26loc_physical_ms%3D1009846%26loc_interest_ms%3D%26feeditemid%3D%
                  26param1%3D%26param2%3D&gclid=EAIaIQobChMIm4uGi9PM9AIV1tGWCh0M8wLWEAAYASAAEgLuivD_BwE"><i
                      class="lni lni-facebook-filled"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/?hl=ko"><i class="lni lni-instagram"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/"><i class="lni lni-twitter-original"></i></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/"><i class="lni lni-youtube"></i></a>
                </li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-2 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer f-link">
              <h3>제작자</h3>
              <ul>
                <li><a href="https://meanauth-lsh.herokuapp.com/">91812866</a></li>
                <li><a href="https://woosang.herokuapp.com/">91812488</a></li>
                <li><a href="https://gyuminworld.herokuapp.com/">91812787</a></li>
                <li><a href="https://taegyunnll.herokuapp.com/">91812737</a></li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-2 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer f-link">
              <h3><br /></h3>
              <ul>
                <li><a href="https://instagram.com/seunghoon99_?utm_medium=copy_link">이승훈</a></li>
                <li><a href="https://instagram.com/woo.__.sang?utm_medium=copy_link">성우상</a></li>
                <li><a href="https://instagram.com/9_miin?utm_medium=copy_link">이규민</a></li>
                <li><a
                    href="https://www.instagram.com/p/CUIVwQeP8ga6u7OOkPEz_Ve1N9TBCO14Cr9kpY0/?utm_medium=copy_link">유태균</a>
                </li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer newsletter">
              <h3>문의하기</h3>
              <p>이메일을 입력해주세요.</p>
              <form action="#" method="get" target="_blank" class="newsletter-form">
                <input name="EMAIL" placeholder="Email address" required="required" type="email" />
                <div class="button">
                  <button class="sub-btn">
                    <i class="lni lni-envelope"></i>
                  </button>
                </div>
              </form>
            </div>
            <!-- End Single Widget -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Footer Top -->
  <!-- Start Copyright Area -->
  <div class="copyright-area">
    <div class="container">
      <div class="inner-content">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <p class="copyright-text">© 2021 It was produced by us.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <p class="copyright-owner">
              Unauthorized distribution is prohibited
              <a href="#" rel="nofollow" target="_blank">Go</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Copyright Area -->
</footer>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
  <i class="lni lni-chevron-up"></i>
</a>