<div id="map" class="map">
  <div class="sidebar"></div>
</div>
<div id="mySidebar" class="sidebar">
  <div style="overflow: scroll; width: 500px; height: 1000px">
    <!-- <div class="sidebar-head"> -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
      >&times;</a
    >
    <!-- </div> -->
    <table class="table table-striped sidebar-table">
      <thead class="list-table text-center">
        <tr>
          <th>업체명</th>
          <th>전화번호</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companys">
          <td class="text-center">{{ company.name }}</td>
          <td class="text-center">{{ company.tel }}</td>
          <td class="text-center">
            <form>
              <input type="submit" class="reservation-btn" value="예약하기" />
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="main"></div>
